<div class="upperDiv">
  <div id="upperBorder">
    <img class="logoImg" src="/assets/dashboard/logo.png"  alt="Logo Image">
    <div class="user_lang">
      <div style="display: inline-block;">
        <p>{{name}}</p>
        <i class="fa fa-2x fa-user-circle" style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false" (click)="LogOut()"></i>
        <div class="dropdown-menu dropMenu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item"
             style="color:white;cursor: pointer">
            "Log Out"
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="smallUpperBorder">
  </div>
</div>


